@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --primary-soft: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);
    --primary-cyan-transparent: hsla(178, 100%, 50%, 0.5);
    --main-background: hsl(217, 54%, 11%);
    --card-background: hsl(216, 50%, 16%);
    --line-background: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-outfit: 'Outfit', sans-serif;
    --body-copy: 18px;
    --body-caption: 16px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-bold: 600;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background);
    display: grid;
    min-height: 100vh;
    place-items: center;
    font-family: var(--font-outfit);
    font-size: var(--body-caption);
}

.card {
    background-color: var(--card-background);
    width: 350px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0;
    padding: 1.5rem;
}

.card .hero {
    height: 302px;
    position: relative;
    border-radius: 8px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card .hero:hover:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: url(images/icon-view.svg);
    background-color: var(--primary-cyan-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card h2 {
    color: var(--white);
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: var(--font-weight-bold);
    margin-top: 0.5rem;
    height: 28;
    line-height: 27.7px;
}

.card h2:hover {
    color: var(--primary-cyan);
    cursor: pointer;
}

.card p {
    color: var(--primary-soft);
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: var(--body-copy);
    font-weight: var(--font-weight-light);
    line-height: 26px;
    margin-bottom: 0.5rem;
    height: 52;
}

.card .days-left {
    color: var(--primary-soft);
    font-size: var(--body-caption);
    text-align: right;
    line-height: 20.2px;
    height: 20px;
}

.days-left::before {
    content: url(./images/icon-clock.svg);
    height: 100%;
    vertical-align: middle;
    margin-right: 0.75ch;
    line-height: 20.2px;
    height: 20px;
}

.price::before {
    content: url(./images/icon-ethereum.svg);
    height: 100%;
    vertical-align: middle;
    margin-right: 0.75ch;
}

.card .price {
    color: var(--primary-cyan);
    font-weight: var(--font-weight-bold);
}

.footer {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top-color: var(--line-background);
    border-top-width: 1px;
    border-top-style: solid;
    color: var(--white);
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.footer span {
    line-height: 20.2px;
    height: 20px;
    color: var(--primary-soft)
}

.footer .creator{
    color: var(--white);
}

.footer .creator:hover {
    color: var(--primary-cyan);
    cursor: pointer;
}

.footer .avatar {
    border-radius: 50%;
    border: 1px solid var(--white);
    margin-right: 1rem;
}



