@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --primary-soft: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);
    --main-background: hsl(217, 54%, 11%);
    --card-background: hsl(216, 50%, 16%);
    --line-background: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font-outfit: 'Outfit', sans-serif;
    --body-copy-size: 18px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semi: 600;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background);
    display: grid;
    min-height: 100vh;
    place-items: center;
    font-family: var(--font-outfit);
}

.card {
    background-color: var(--card-background);
    width: 350px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 0;
    padding: 1.5rem;
}

.card .hero {
    border-radius: 8px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card h2 {
    color: var(--white);
    grid-column-start: 1;
    grid-column-end: 3;
}

.card p {
    color: var(--primary-soft);
    grid-column-start: 1;
    grid-column-end: 3;
}

.card hr{
    grid-column-start: 1;
    grid-column-end: 3;
}

.card .days-left {
    color: var(--primary-soft);
    text-align: right;
}

.card .price {
    color: var(--primary-cyan);
}

.footer {
    color: var(--white);
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
}

.footer span {
    color: var(--primary-soft)
}

.footer .creator{
    color: var(--white);
}



